@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "PixelBold";
   src: url(/font/PixelifySans-Bold.ttf);
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "PixelMedium";
   src: url(/font/PixelifySans-Medium.ttf);
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "PixelRegular";
   src: url(/font/PixelifySans-Regular.ttf);
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "PixelSemiBold";
   src: url(/font/PixelifySans-SemiBold.ttf);
   font-weight: normal;
   font-style: normal;
}
